.carrousel {
    position: absolute;
    height: auto;
    width: auto;
    align-items: center;
    margin-left: 230px;
    display: flex;
}

.card {
    display: flex;
    height: auto;
    width: auto;
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    background-color: #17141d;
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card:hover {
    transform: translateY(-50px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}